 <div class="header-bottom header-bottom-bg-color sticky-bar">
   <div class="container">
     <div class="header-wrap header-space-between position-relative">
       <div class="logo logo-width-1 d-block d-lg-none">
         <!-- <a href="/"><img src="../../../../assets/imgs/theme/logo.svg" alt="logo"></a> -->
         <%- include('../../logo/logo.ejs') %>
       </div>
       <div class="header-nav d-none d-lg-flex">
         <div class="main-categori-wrap d-none d-lg-block">
           <a class="categori-button-active active <%= open%> " href="#">
             <span class="fi-rs-apps"></span>Categories
           </a>
           <div class="categori-dropdown-wrap categori-dropdown-active-large <%= open%>">
             <ul>

               <li class="has-children mr-10" id="categoryLi">
                 <div class="dropdown-menu">
                   <ul class="mega-menu d-lg-flex">
                     <li class="mega-menu-col col-lg-7">
                       <ul class="d-lg-flex">
                         <li class="mega-menu-col col-lg-6">
                           <ul>
                             <li><span class="submenu-title">Hot & Trending</span></li>
                             <li><a class="dropdown-item nav-link nav_item" href="#">Dresses</a> </li>

                           </ul>
                         </li>
                         <li class="mega-menu-col col-lg-6">
                           <ul>
                             <li><span class="submenu-title">Bottoms</span></li>

                           </ul>
                         </li>
                       </ul>
                     </li>
                     <!-- <li class="mega-menu-col col-lg-5">
                       <div class="header-banner2">
                         <img src="../../../../assets/imgs/banner/menu-banner-2.jpg" alt="menu_banner1">
                         <div class="banne_info">
                           <h6>10% Off</h6>
                           <h4>New Arrival</h4>
                           <a href="#">Shop now</a>
                         </div>
                       </div>
                       <div class="header-banner2">
                         <img src="../../../../assets/imgs/banner/menu-banner-3.jpg" alt="menu_banner2">
                         <div class="banne_info">
                           <h6>15% Off</h6>
                           <h4>Hot Deals</h4>
                           <a href="#">Shop now</a>
                         </div>
                       </div>
                     </li> -->
                   </ul>
                 </div>
               </li>

             </ul>
           </div>
         </div>

         <!-- <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
           <nav>
             <ul>
               <li>
                 <a class="" href="/product">Product</a>
               </li>
               <li>
                 <a href="/page-about.html">About</a>
               </li>
               <li><a href="shop-grid-right.html">Shop <i class="fi-rs-angle-down"></i></a>
                 <ul class="sub-menu">
                   <li><a href="shop-grid-right.html">Shop Grid – Right Sidebar</a></li>
                   <li><a href="shop-grid-left.html">Shop Grid – Left Sidebar</a></li>
                   <li><a href="shop-list-right.html">Shop List – Right Sidebar</a></li>
                   <li><a href="shop-list-left.html">Shop List – Left Sidebar</a></li>
                   <li><a href="shop-fullwidth.html">Shop - Wide</a></li>
                   <li><a href="#">Single Product <i class="fi-rs-angle-right"></i></a>
                     <ul class="level-menu">
                       <li><a href="shop-product-right.html">Product – Right Sidebar</a></li>
                       <li><a href="shop-product-left.html">Product – Left Sidebar</a></li>
                       <li><a href="shop-product-full.html">Product – No sidebar</a></li>
                     </ul>
                   </li>
                   <li><a href="shop-filter.html">Shop – Filter</a></li>
                   <li><a href="shop-wishlist.html">Shop – Wishlist</a></li>
                   <li><a href="shop-cart.html">Shop – Cart</a></li>
                   <li><a href="shop-checkout.html">Shop – Checkout</a></li>
                   <li><a href="shop-compare.html">Shop – Compare</a></li>
                 </ul>
               </li>
               <li class="position-static"><a href="#">Mega menu <i class="fi-rs-angle-down"></i></a>
                 <ul class="mega-menu">
                   <li class="sub-mega-menu sub-mega-menu-width-22">
                     <a class="menu-title" href="#">Women's Fashion</a>
                     <ul>
                       <li><a href="shop-product-right.html">Dresses</a></li>
                       <li><a href="shop-product-right.html">Blouses & Shirts</a></li>
                       <li><a href="shop-product-right.html">Hoodies & Sweatshirts</a></li>
                       <li><a href="shop-product-right.html">Wedding Dresses</a></li>
                       <li><a href="shop-product-right.html">Prom Dresses</a></li>
                       <li><a href="shop-product-right.html">Cosplay Costumes</a></li>
                     </ul>
                   </li>
                   <li class="sub-mega-menu sub-mega-menu-width-22">
                     <a class="menu-title" href="#">Men's Fashion</a>
                     <ul>
                       <li><a href="shop-product-right.html">Jackets</a></li>
                       <li><a href="shop-product-right.html">Casual Faux Leather</a></li>
                       <li><a href="shop-product-right.html">Genuine Leather</a></li>
                       <li><a href="shop-product-right.html">Casual Pants</a></li>
                       <li><a href="shop-product-right.html">Sweatpants</a></li>
                       <li><a href="shop-product-right.html">Harem Pants</a></li>
                     </ul>
                   </li>
                   <li class="sub-mega-menu sub-mega-menu-width-22">
                     <a class="menu-title" href="#">Technology</a>
                     <ul>
                       <li><a href="shop-product-right.html">Gaming Laptops</a></li>
                       <li><a href="shop-product-right.html">Ultraslim Laptops</a></li>
                       <li><a href="shop-product-right.html">Tablets</a></li>
                       <li><a href="shop-product-right.html">Laptop Accessories</a></li>
                       <li><a href="shop-product-right.html">Tablet Accessories</a></li>
                     </ul>
                   </li>
                   <li class="sub-mega-menu sub-mega-menu-width-34">
                     <div class="menu-banner-wrap">
                       <a href="shop-product-right.html"><img src="../../../../assets/imgs/banner/menu-banner.jpg" alt="Evara"></a>
                       <div class="menu-banner-content">
                         <h4>Hot deals</h4>
                         <h3>Don't miss<br> Trending</h3>
                         <div class="menu-banner-price">
                           <span class="new-price text-success">Save to 50%</span>
                         </div>
                         <div class="menu-banner-btn">
                           <a href="shop-product-right.html">Shop now</a>
                         </div>
                       </div>
                       <div class="menu-banner-discount">
                         <h3>
                           <span>35%</span>
                           off
                         </h3>
                       </div>
                     </div>
                   </li>
                 </ul>
               </li>
               <li><a href="blog-category-grid.html">Blog <i class="fi-rs-angle-down"></i></a>
                 <ul class="sub-menu">
                   <li><a href="blog-category-grid.html">Blog Category Grid</a></li>
                   <li><a href="blog-category-list.html">Blog Category List</a></li>
                   <li><a href="blog-category-big.html">Blog Category Big</a></li>
                   <li><a href="blog-category-fullwidth.html">Blog Category Wide</a></li>
                   <li><a href="#">Single Post <i class="fi-rs-angle-right"></i></a>
                     <ul class="level-menu level-menu-modify">
                       <li><a href="blog-post-left.html">Left Sidebar</a></li>
                       <li><a href="blog-post-right.html">Right Sidebar</a></li>
                       <li><a href="blog-post-fullwidth.html">No Sidebar</a></li>
                     </ul>
                   </li>
                 </ul>
               </li>
               <li><a href="#">Pages <i class="fi-rs-angle-down"></i></a>
                 <ul class="sub-menu">
                   <li><a href="page-about.html">About Us</a></li>
                   <li><a href="page-contact.html">Contact</a></li>
                   <li><a href="page-account.html">My Account</a></li>
                   <li><a href="page-login-register.html">login/register</a></li>
                   <li><a href="page-purchase-guide.html">Purchase Guide</a></li>
                   <li><a href="page-privacy-policy.html">Privacy Policy</a></li>
                   <li><a href="page-terms.html">Terms of Service</a></li>
                   <li><a href="page-404.html">404 Page</a></li>
                 </ul>
               </li>
               <li>
                 <a href="page-contact.html">Contact</a>
               </li>
             </ul>
           </nav>
         </div> -->

       </div>
     </div>
   </div>
 </div>