   <div class="banner-img wow fadeIn mb-45 animated d-lg-block d-none">
     <img src="../../../../assets/imgs/banner/banner-11.jpg" alt="">
     <div class="banner-text">
       <span>Women Zone</span>
       <h4>Save 17% on <br>Office Dress</h4>
       <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
     </div>
   </div>